* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

main {
    width: 80%;
    height: 100vh;
    margin-top: 11px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #faf8f8;
    padding: 17px;
    border-bottom: 1px solid #ccc;
}

.center ul {
    display: flex;
    list-style: none;
}

.center ul li a {
    padding: 17px;
    text-decoration: none;
}

.right form {
    display: flex;
    gap: 5px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    /* background-color: pink; */
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
    height: 33.33%;
    /* background-color: black; */
    display: flex;
    gap: 5px;
}

.row .card {
    width: 25%;
    background-color: rgb(71, 48, 48);
}

.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important;
    border: 1px solid #ccc;
}

.top {
    width: 100%;
    background-color: black;
    color: rgb(41, 31, 31);
    padding: 7px;
    text-align: center;
    background-color: transparent !important;
}

.content {
    width: 100%;
    text-align: center;
    color: white;
    height: 70%;
    font-size: 11px;
    padding: 7px;
}

.footer {
    width: 100%;
    background-color: black;
    color: rgb(98, 98, 98);
    text-align: center;
    padding: 7px;
    font-size: 11px;
    background-color: transparent !important;
    border-top: 1px solid #ccc;
}

img {
    width: 100%;
}

.row-2 {
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11px;
    background-color: #eae8e8;
    padding: 17px;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

.box {
    width: 80%;
}